  $primary-color: var(--ion-color-primary);
  $dark-color: var(--ion-color-dark);
  $active-status-color: var(--ion-color-active-status);
  $border-color: rgba(var(--ion-color-nfont1), 0.3);
  $color-nfont: var(--ion-color-nfont);
  $color-nfont1: var(--ion-color-nfont1);

  .listTherapist {
    max-height: 201px;
    overflow-y: auto;
  }

  .selectedCheck {
    font-size: 42px;
    color: $active-status-color;
  }

  .name-color {
    color: $dark-color;
  }

  .lble
  {
    color:#999;
  }

  .notec
  {
    color:#999;
    font-size:1.0rem;
  }