    $font-white-color: var(--ion-color-light);
    $font-th-color: var(--ion-color-primary);
    $color-nfont1: var(--ion-color-nfont1);
    $color-nfont1-rgb: var(--ion-color-nfont1-rgb);
    $color-nbg1: var(--ion-color-nbg1);
    $color-nbg1-rgb: var(--ion-color-nbg1-rgb);
  
    .main-box {
      width: 100%;
      height: 208px;
    }
  
    .success-bg {
      /*background: var(--ion-color-primary);*/
      background: linear-gradient(
          180deg,
          rgba(var(--ion-color-nbg1-rgb), 0.8) 0%,
          rgba(var(--ion-color-primary-rgb), 0.85) 100%
        ),
        url('../../../assets/imgs/yoga.jpg');
      background-position: bottom, right;
      background-size: cover;
    }
  
    .error-bg {
      /*background: $color-nfont1;*/
      background: linear-gradient(
          180deg,
          rgba($color-nbg1-rgb, 0.8) 0%,
          rgba($color-nfont1-rgb, 0.85) 100%
        ),
        url('../../../assets/imgs/yoga1.jpg');
      background-position: bottom, right;
      background-size: cover;
    }
  
    .empty-box1 {
      height: 1px;
      padding-top: 151px;
    }
  
    .icon-box {
      color: $font-white-color;
      width: 78px;
      height: 78px;
      margin: auto;
    }
  
    .bg-border {
      background-color: $font-white-color;
      border-radius: 100%;
    }
  
    .message {
      font-size: 20px;
      font-weight: 400;
      color: $font-th-color;
      margin-top: 4px;
    }
  
    .info-tab {
      margin-top: 5px;
      background-color: rgba($color-nfont1-rgb, 0.2);
      padding: 10px;
      color: $font-th-color;
      font-size: 15px;
      font-weight: 300;
    }
  
    .info-row {
      border-bottom: 0.4px solid rgba($color-nfont1-rgb, 0.5);
    }
  
    .text {
      font-weight: 100;
    }
  
    .text-bold {
      font-weight: 400 !important;
    }
  
    .margin-vertical {
      margin-top: 12px;
      margin-bottom: 12px;
    }
