<ion-header *ngIf="!frmWizard">
  <ion-toolbar>
    <ion-buttons
      *ngIf="!serviceFlow"
      class="ion-margin-horizontal"
      left
      (click)="closeModal()"
    >
      <ion-button slot="icon-only">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label *ngIf="commonprovider.getisiOSplt()">
          {{ label.back }}
        </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ label.pageName }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!frmWizard">
  <ion-list *ngIf="!commonprovider.loading && therapists.length === 0">
    <app-empty templateType="list" componentName="selectTherapist"></app-empty>
  </ion-list>

  <ion-list >
    <ion-item *ngFor="let therapist of therapists; index as i">
      <ion-avatar class="avatar-img" slot="start">
        <img [src]="therapist.employee_photo" />
        <div class="div-icon" *ngIf="selectedTherapist.id === therapist.id">
          <ion-icon class="selectedCheck" name="ios-checkmark-circle">
          </ion-icon>
        </div>
      </ion-avatar>
      <ion-label>
        <!-- (click)="selectTherapist(therapist)" -->
        <h2 class="name-color">{{ therapist.employee_name }}</h2>
        <p>{{ therapist.employee_notes }}</p>
      </ion-label>
      <ion-note slot="end" class="ion-float-right ion-note">
        <ion-button
        expand="block"
        fill="outline"
        size="small"
        color="secondary"
        (click)="showProfile(therapist)"
        >
          {{ label.view }}
        </ion-button>
        <!-- *ngIf="serviceFlow" -->
        <ion-button
          class="btn-book"
          
          expand="block"
          fill="outline"
          size="small"
          color="primary"
          (click)="bookNow(therapist)"
        >
          {{ therapistforcontact ? label.send : label.book }}
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-list *ngIf="frmWizard">
  <ion-item *ngFor="let therapist of therapists; index as i">
    <ion-avatar class="avatar-img" slot="start">
      <img [src]="therapist.employee_photo" />
      <div class="div-icon" *ngIf="selectedTherapist.id === therapist.id">
        <ion-icon class="selectedCheck" name="ios-checkmark-circle">
        </ion-icon>
      </div>
    </ion-avatar>
    <ion-label>
      <!-- (click)="selectTherapist(therapist)" -->
      <h2 class="name-color">{{ therapist.employee_name }}</h2>
      <p>{{ therapist.employee_notes }}</p>
    </ion-label>
    <ion-note slot="end" class="ion-float-right ion-note">
      <ion-button
      expand="block"
      fill="outline"
      size="small"
      color="secondary"
      (click)="showProfile(therapist)"
      >
        {{ label.view }}
      </ion-button>
      <!-- *ngIf="serviceFlow" -->
      <ion-button
        class="btn-book"
        
        expand="block"
        fill="outline"
        size="small"
        color="primary"
        (click)="bookNow(therapist)"
      >
        {{ therapistforcontact ? label.send : label.book }}
      </ion-button>
    </ion-note>
  </ion-item>
</ion-list>

