<!--ion-content *ngIf="!frmWizard" -->
            <ion-calendar [(ngModel)]="date"
                        (change)="onChange($event)"
                        [type]="type"
                        [format]="'YYYY-MM-DD'"
                        [options]="calOptions"
                        (monthChange)="onMnthChange($event)"
                        >
            </ion-calendar>
  <ion-card *ngFor="let event of timeSlots" class="event">
    <ion-card-header class="cardHeader">
      <ion-card-title>{{event.date}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>

        
        <div *ngIf="event.available_timeslot.length!=0" class="slot-name ion-margin-bottom ion-text-center"></div>
        <!--ion-row class="ion-text-center">
          <ion-col class="col-slot" *ngFor="let time of event.available_timeslot; let i = index" size="3">
            <div class="time-slot" [ngClass]="{ active: time == selectedTimeslot && event.date == booking_date }" (click)="selectTime(i, time,event.date)">
              <div class="time-title" [ngClass]="{ active: time == selectedTimeslot && event.date == booking_date }">
                {{ time | uppercase }}
              </div>
            </div>
          </ion-col>
        </ion-row -->
        <div class="forecast_container"> 
          <ion-row nowrap  class="ion-text-center">
            <ion-col class="col-slot" *ngFor="let time of event.available_timeslot|slice:0:(event.available_timeslot.length/2); let i = index" size="3">
              <div class="time-slot" [ngClass]="{ active: time == selectedTimeslot && event.date == booking_date }" (click)="selectTime(i, time,event.date)">
                <div class="time-title" [ngClass]="{ active: time == selectedTimeslot && event.date == booking_date }">
                  {{ time | uppercase }}
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row nowrap  class="ion-text-center">
            <ion-col class="col-slot" *ngFor="let time of event.available_timeslot|slice:(event.available_timeslot.length/2):event.available_timeslot.length; let i = index" size="3">
              <div class="time-slot" [ngClass]="{ active: time == selectedTimeslot && event.date == booking_date }" (click)="selectTime(i, time,event.date)">
                <div class="time-title" [ngClass]="{ active: time == selectedTimeslot && event.date == booking_date }">
                  {{ time | uppercase }}
                </div>
              </div>
            </ion-col>
          </ion-row>
          
        </div>
        <!--div style="position: absolute;top: 35%;right: -3px;font-size: 48px;z-index: 2;" (click)="slideNext()">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </!--div>

        <div style="position: absolute;top: 35%;left: -3px;font-size: 48px;z-index: 2;" (click)="slidePrev()">
          <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </div -->
  

        <div *ngIf="event.unavailable_timeslot.length!=0" class="slot-name" text-center margin-bottom>
          
        </div>
        <ion-row class="ion-text-center">
          <ion-col
            class="col-slot"
            *ngFor="let time of event.unavailable_timeslot; let i = index"
            size="3"
          >
            <div class="time-deactive-slot">
              <div class="time-title">
                {{ time | uppercase }}
              </div>
            </div>
          </ion-col>
        </ion-row>
    
        <ion-row *ngIf="timeNotFound" justify-content-center>
          {{label.timeNotAvailable}}
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

<!--/ion-content -->  