<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-round-back" (click)="goToBackUrl()" style="font-size: x-large;"></ion-icon>
    <ion-title>
      {{ label.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
    <mat-step label="Services" state="phone" [stepControl]="selectedService">
       <app-service [frmWizard]="true" #serviceStep ></app-service> 
      <div>
        <button  outline class="nextButton" mat-button matStepperNext  [disabled]="false"  (click)="isServiceSelected()"  slot="right" *ngIf="showServiceBtn">
          Next&nbsp;&nbsp;&nbsp;<ion-icon name="fastforward" slot="end"></ion-icon>
        </button>
      </div>
    </mat-step>

    <mat-step label="Therapist" state="chat" [stepControl]="selectedTherapist">
       <app-therapist [frmWizard]="true" [frmWizrdService]="selectedService" ></app-therapist> 
      <div>
        <button outline class="backButton" mat-button matStepperPrevious *ngIf="showTherepistBtn">
          <ion-icon name="rewind" slot="start"></ion-icon>&nbsp;&nbsp;&nbsp;Back
        </button>
        <button outline class="nextButton" mat-button matStepperNext *ngIf="showTherepistBtn" [disabled]="false"  (click)="isTherepistSelected()">
          Next&nbsp;&nbsp;&nbsp;<ion-icon name="fastforward"  slot="end"></ion-icon>
        </button>
      </div>
    </mat-step>
    <mat-step label="Day & time" [stepControl]="appointmentDate">
      <app-calendar [frmWizard]="true"  ></app-calendar>
      <div>
        <button outline class="backButton" mat-button matStepperPrevious ><ion-icon name="rewind" slot="start"></ion-icon>&nbsp;&nbsp;&nbsp;Back</button>
        <button outline class="nextButton" mat-button matStepperNext [disabled]="false"  (click)="isTimeSelected()">Next&nbsp;&nbsp;&nbsp;<ion-icon name="fastforward"  slot="end"></ion-icon></button>
      </div>

    </mat-step>
  
    <mat-step label="Summary">
      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

      <ion-list>
          <ion-row class="list-header">
            <ion-col>
              {{ label.subtitle1 | uppercase }}
            </ion-col>
          </ion-row>
    
          <div
            class="border-bottom padding-right"
            margin-left
          >
            <div>
              <ion-label position="stacked" class="lbl">
                {{ label.service | uppercase }} <sup>*</sup></ion-label
              >
            </div>
            <div class="value-data">
              <div *ngIf="!this.bookingForm.controls['serviceName'].value">
                {{ label.serviceEmpty | uppercase }}
              </div>
              {{ this.bookingForm.controls['serviceName'].value }}
            </div>
          </div>
    
          <ion-item lines="none" class="therapistItem" >

            <ion-label position="stacked" class="lbl">{{ label.therapist | uppercase }}<sup>*</sup></ion-label>
          </ion-item>

          <ion-list
            *ngIf="selectedTherapist.employee_name"
          >
            <ion-item>
              <ion-avatar class="avatar-img" slot="start">
                <img [src]="selectedTherapist.employee_photo" />
              </ion-avatar>
              <ion-label>
                <h2 class="name-color">{{ selectedTherapist.employee_name }}</h2>
                <p>{{ selectedTherapist.employee_notes }}</p>
              </ion-label>
              <ion-note slot="end" (click)="showProfile($event, selectedTherapist)">
                {{ label.view }}
              </ion-note>
            </ion-item>
          </ion-list>
    
          <div class="border-bottom padding-right" margin-left>
            <div>
              <ion-label position="stacked" class="lbl">
                {{ label.date | uppercase }} <sup>*</sup>
              </ion-label>
            </div>
            <div class="value-data">
              {{ this.bookingForm.controls['booking_date'].value }}
            </div>
            
          </div>
    
          <div
            class="border-bottom padding-right"
            margin-left
          >
            <div>
              <!--ion-icon
                color="nlink"
                class="rightIcon ion-float-right"
                name="md-timer"
                
              ></!--ion-icon-->
              <ion-label position="stacked" class="lbl">
                {{ label.time | uppercase }} <sup>*</sup>
              </ion-label>
            </div>
            <div class="value-data">
              <div *ngIf="!this.bookingForm.controls['booking_start_time'].value">
                {{ label.timeEmpty | uppercase }}
              </div>
              {{ this.bookingForm.controls['booking_start_time'].value }}
            </div>
          </div>
    
          <div class="border-bottom padding-right" margin-left>
            <div>
              <ion-label position="stacked" class="lbl">
                {{ label.cost | uppercase }} <sup>*</sup></ion-label
              >
            </div>
            <div class="value-data">
              {{ config.currency_symbol }}
              {{ this.bookingForm.controls['booking_total'].value }}
            </div>
          </div>
    
          <div class="border-bottom padding-right" margin-left>
            <div>
              <ion-label position="stacked" class="lbl"> {{ label.note | uppercase }}</ion-label>
            </div>
            <div class="value-data">
              <ion-input
                formControlName="booking_notw"
                [placeholder]="label.note"
              ></ion-input>
            </div>
          </div>

          <ion-list *ngIf="loggedIndUid == 0">
            <ion-radio-group [(ngModel)]="usrType" [ngModelOptions]="{standalone: true}" (ionChange)="chngeUsrType($event)">
              
              <ion-item>
                <ion-radio value=guestuser></ion-radio>&nbsp;&nbsp;
                <ion-label class="ion-text-wrap">Book as a Guest User</ion-label>
              </ion-item>
              <div *ngIf="usrType == 'guestuser'">
                <div class="border-bottom padding-right" margin-left>
                  <div>
                    <ion-label position="stacked" class="lbl">
                      Name <sup>*</sup>
                    </ion-label>
                  </div>
                  <div class="value-data">
                    <ion-input placeholder="Enter Name" name="guestUsrInp" [(ngModel)]="guestUsrInp" [ngModelOptions]="{standalone: true}">
                     </ion-input>
                  </div>
                </div>
                  <div class="border-bottom padding-right" margin-left>
                    <div>
                      <ion-label position="stacked" class="lbl">
                        Email <sup>*</sup>
                      </ion-label>
                    </div>
                    <div class="value-data">
                      <ion-input placeholder="Enter Email" type="email" name="guesEmailInp" [(ngModel)]="guesEmailInp" [ngModelOptions]="{standalone: true}">
                       </ion-input>
                    </div>
                  
                 </div>
                </div>
                <ion-item>
                  <ion-radio value=registeruser></ion-radio>&nbsp;&nbsp;
                  <ion-label class="ion-text-wrap">Book as a Registered User</ion-label>
                </ion-item>
            
            </ion-radio-group>
          </ion-list>
         
          <ion-item no-lines class="ion-text-center">
            <ion-row class="ion-padding" style="width: 100%;">
              <ion-col>
              <ion-button
                class="btn-login"
                type="submit"
                expand="block"
                color="primary"
              >
                {{ label.submitBtn | uppercase }}
              </ion-button>
              <ion-button
                class="btn-login"
                type="button"
                expand="block"
                color="success"
                (click)="gotoPrevScreen()"
              >
                BACK
              </ion-button>

              <!-- ion-button
              class="btn-login"
              type="button"
              expand="block"
              color="success"
              (click)="test()"
            >
              test
            </!-- ion-button -->
            </ion-col>
            </ion-row>
          </ion-item>
    
      </ion-list>
    </form>

    </mat-step>
   
  </mat-horizontal-stepper>
</ion-content>