//--ion-color-primary: var(--ion-color-primary);
$color-primary: var(--ion-color-primary);
  $color-font: var(--ion-color-nfont);
  $color-nbgFront: var(--ion-color-nbgFont);
  $color-nbg1: var(--ion-color-nbg1);
  $color-nbg3: var(--ion-color-nbg3);
  $color-link: var(--ion-color-nlink);

.bgimage{
    --background: url('../../../assets/imgs/background.jpg');
    background-repeat: repeat !important;
    background-size: 120% !important;
    /*background-size:cover;*/
    }
    
    .bgimage1{
        --background: url('../../../assets/imgs/yoga1.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        }
      
ion-toolbar {
  --ion-background-color: transparent;
  
 }
        
      .btn-bg 
      {
        background-color: rgba(var($color-primary), 0.25) !important;;
      }
      
      .btn-right 
      {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
      }
      
      .btn-icon {
          margin: 2px;
      }
      
        .btn-icon-right {
          margin-right: 9px !important;
          margin-left: 5px !important;
        }
      
        .btn-login {
          font-size: 16px;
          font-weight: bold;
        }
        .link {
          font-weight: bold;
        }
      
      
        .text-input::-moz-placeholder {
          color: var(--ion-color-nfont);
        }
      
        .text-input:-ms-input-placeholder {
          color: var(--ion-color-nfont);
        }
      
        .text-input::-webkit-input-placeholder {
          color: var(--ion-color-nfont);
        }
      
        
        .item1 {
          --background: rgba(var(--ion-color-nbg3-rgb), 0.3);
          --color: var(--ion-color-nfont);
        }
      
        
        .login-card {
          /*top: 50%;
          transform: translateY(30%);
          /*position: absolute;*
          justify-content: center;
          */
          position: absolute;
          top: 50%;
          width: 100%;
          text-align: center;
          transform: translateY(-50%);
        }
      
        .box {
          width: 102px;
          height: 102px;
          margin: auto;
        }
      
        .box-bg {
          margin: auto;
          background-color: rgba(var(ion-color-primary), 0.25);
          background-size: cover;
          background-position: top;
          overflow: hidden;
          border-radius: 20px;
        }
      
        .logo {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      
        .text-color {
          color: var(--ion-color-nfont);
        }
      
        .text-weight {
          font-weight: bold;
        }
      
        .text-font {
          font-size: 17px;
        }
      
        .text-font-signup {
          font-size: 15px;
        }
      
        
      
        hr {
          height: 0.5px;
          border: none;
          color: var(--ion-color-nfont);
          background-color: var(--ion-color-nfont) !important;
          width: 60px;
          text-align: center;
          margin: 0 auto;
        }
      
        .a-link {
          text-decoration: none;
          font-weight: bold;
          color: var(--ion-color-nlink);
        }
      