<ion-content class="bg1">
    <ion-header no-border transparent>
      <ion-toolbar transparent translucent class="ion-no-padding" color="translucent">
      
          <ion-icon *ngIf="lgnFlow!='login'" slot="start" name="arrow-round-back" (click)="closeModalBook()" style="font-size: x-large;" ></ion-icon>
          <ion-title>
            {{ label.title }}
          </ion-title>
     
        <ion-buttons
          class="btn-bg btn-right ion-no-margin"
          (click)="showAppInfo()"
          slot="end">

          <ion-button class="btn-icon btn-icon-right link"  slot="icon-only">
            <ion-icon
              color="nlink"
              name="ios-information-circle-outline"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-grid class="login-card">
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="6" size-lg="4" size-xs="12" size-xl="4" size-sm="9">
          <ion-row class="ion-text-center">
            <ion-col class="ion-no-padding">
              <div class="box box-bg ion-text-center">
                <img class="logo" [src]="config?.small_logo" alt="LOGO" />
              </div>
  
              <div class="text-font text-color">
                {{ label.title1 }}
                <br />
                {{ label.title2 }}
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-text-center padding-vertical">
            <ion-col>
              <div class="text-color">- {{ label.continue | uppercase }} -</div>
            </ion-col>
          </ion-row>
  
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <ion-row class="ion-padding-left padding-right">
              <ion-col>
                <ion-item class="item1 ion-no-padding" >
                  <ion-input
                    type="text"
                    formControlName="username"
                    [placeholder]="label.username"
                    required
                  ></ion-input>
                </ion-item>
                </ion-col>
            </ion-row>
  
            <ion-row padding-left padding-right>
                <ion-col>
              <ion-item class="item1 ion-no-padding" >
                <ion-input
                  type="password"
                  [placeholder]="label.password"
                  formControlName="password"
                  required
                ></ion-input>
              </ion-item>
                </ion-col>
            </ion-row>
  
            <ion-row class="ion-padding">
                <ion-col>
              <ion-button
                class="btn-login"
                type="submit"
                expand="block"
                color="primary"
              >
                {{ label.login }}
              </ion-button>
              <div class="text-color text-weight text-font-signup" *ngIf="lgnFlow=='login'">
                <a (click)="gotoSkipfornow()" class="a-link"> Skip Log in for now</a>
                
              </div>
            </ion-col>
            </ion-row>
            
          </form>
          
          <ion-row class="ion-text-center">
            <ion-col (click)="forgotPassword()">
              <div class="text-color text-weight">
                {{ label.forgot | uppercase }}
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-text-center ion-padding" >
            <ion-col>
              <hr />
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-text-center">
            <ion-col>
              <div class="text-color text-weight text-font-signup">
                {{ label.new }}
                <a (click)="gotoSignup()" class="a-link"> {{ label.signup }} </a>
                {{ label.now }}
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>