
$color-nfont: var(--ion-color-nfont1);
$color-nbg1: var(--ion-color-nbg1);
$color-primary: var(--ion-color-primary);
$color-primary-rgb: var(--ion-color-primary-rgb);
$color-nbg3: var(--ion-color-nbg3);
$color-nbg3-rgb: var(--ion-color-nbg3-rgb);
$color-link: var(--ion-color-nlink);
$color-danger: var(--ion-color-danger);


ion-toolbar {
  --ion-background-color: transparent;
  --background-color: transparent;
  --ion-color-base: transparent !important;
}

ion-footer {
  --ion-background-color: transparent;
  --background-color: transparent;
  --ion-color-base: transparent !important;
}  
  


ion-buttons[start] {
  order: 2;
}

.btn-bg {
  background-color: rgba($color-primary-rgb, 0.25);
}

.btn-left {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-right {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-icon {
  margin: 2px;
}

.doctor-icon {
  width: 28px;
  height: 28px;
}

.btn-icon-left {
  margin-left: 9px !important;
  margin-right: 5px !important;
}

.btn-icon-right {
  margin-right: 9px !important;
  margin-left: 5px !important;
}

.card {
  /*top: 50%;
  transform: translateY(50%);
  /*position: absolute;*
  --ion-justify-content: center;
  */
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.link {
  font-weight: bold;
}

.box {
  width: 102px;
  height: 102px;
}

.box-bg {
  margin: auto;
  background-color: rgba($color-primary-rgb, 0.25);
  background-size: cover;
  background-position: top;
  overflow: hidden;
  border-radius: 20px;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.text-color {
  color: $color-nfont;
}

.title {
  font-size: 28px;
  font-weight: 100;
  margin-top: 9px;
}

.sub-title {
  font-size: 24px;
  font-weight: 500;
  min-height: 24px;
  margin-top: 3px;
  letter-spacing: 9px;
}

.col-slot-2 {
  flex: 3 !important;
  z-index: 10;
  max-width: 60%;
}

.col-slot-3 {
  flex: 3 !important;
  z-index: 10;
  max-width: 50%;
}

.col-slot {
  margin-top: 1px !important;
  margin-right: 1px;
  height: 115px;
  position: relative;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-decoration: none;
  color: $color-nfont;
  padding: 1rem;
  justify-content: center;
  background-color: rgba($color-nbg3-rgb, 0.5);
  display: flex;
  transition: flex 600ms cubic-bezier(0.25, 0.75, 0.25, 1),
  z-index 600ms cubic-bezier(0.25, 0.75, 0.25, 1),
  width 600ms cubic-bezier(0.25, 0.75, 0.25, 1);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: top;
    box-shadow: -1rem 0 1rem rgba($color-nbg3-rgb, 0.1);
  }

  svg {
    width: 2.9rem;
    height: 2.9rem;
    color: $color-nfont;
  }

  .svg-fill > svg {
    fill: $color-nfont;
  }

  .title-name {
    margin-top: 0.4rem;
    font-size: 16px;
    font-weight: 400;
  }

  .info-msg 
  {
    margin-top: 0.4rem;
    font-size: 12px;
    font-weight: 400;
    color: $color-danger;
  }
}

.divBlock {
  width: 100%;
}

.col-slot:last-child {
  margin-right: 0 !important;
}

